.scrollContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.listContainer {
  width: 100%;
  position: relative;
}

.virtualItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
