@import '../../../../styles//mixins/mixins';

.primaryButton {
  height: 46px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to bottom, var(--gradient-coral));
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;

  &:hover {
    @include shadow-blur(var(--primary-button-hover), 18px);
  }

  &:active {
    background: linear-gradient(to bottom, var(--primary-button-pressed));
  }

  &:disabled {
    background: linear-gradient(to bottom, var(--primary-button-disabled));
    cursor: not-allowed;
  }

  &Icon {
    position: absolute;
    right: 12px;
    top: 10px;
  }
}
