@import '../../../../styles//mixins/mixins';

.primary-button {
  height: 46px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to bottom, var(--gradient-primary-button));
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    @include shadow-blur(var(--primary-button-hover), 18px);
  }

  &:active {
    background: linear-gradient(to bottom, var(--primary-button-pressed));
  }
}

.primary-button:disabled {
  background: linear-gradient(to bottom, var(--primary-button-disabled));
  cursor: not-allowed;
}
