@use '../../../styles/mixins/mixins' as mixins;
@use '../../../styles/mixins/fonts' as fonts;
@use '../../../styles/mixins/media' as media;

.crashGame {
  width: 100%;
  height: 100%;

  &Container {
    display: flex;
    gap: 24px;
    margin-top: 40px;
    @include mixins.inline-padding;

    @include media.laptop {
      flex-direction: column;
    }
  }

  &boardContainer {
    width: 66%;
    height: 511px;
    border-radius: 16px;
    background-color: var(--color-card);
    transition: background 1.5s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media.laptop {
      width: 100%;
    }
  }

  &boardEmpty {
    display: flex;
    flex-direction: column;
    text-align: center;

    &Value {
      @include fonts.h1-satoshi(64px);
      color: var(--color-grey);
    }

    &Text {
      @include fonts.h2-inter(32px);
      color: var(--color-grey);
    }
  }
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}
