@use '../../../../styles/mixins/fonts' as fonts;

.authInput {
  border: none;
  outline: none;
  width: 90%;
  height: 100%;
  border-radius: 8px;
  padding-left: 10px;
  @include fonts.secondary-text;

  &:focus {
    background-color: var(--color-white);
  }

  &Container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background-color: var(--color-white);
  }

  &Icon {
    margin-right: 10px;
  }
}
