@import '../../../styles/mixins/fonts';

.liveChatHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &Title {
    @include h1-satoshi;
    display: flex;
    margin: 0 auto;
  }

  &Stats {
    display: flex;
    justify-content: space-between;
  }

  &Stat {
    @include secondary-text;
  }
}

.customDot {
  position: relative;
  display: inline-block;
  font-style: normal;

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      rgba(255, 65, 123, 1) 0%,
      rgba(255, 0, 71, 1) 100%
    );
    box-shadow:
      0 0 4px rgba(255, 65, 123, 0.8),
      0 0 8px rgba(255, 0, 71, 0.5);

    @include tablet {
      top: 4px;
    }
  }
}

.divider {
  background-color: var(--color-grey);
  width: 100%;
  height: 1px;
}

.active {
  background: linear-gradient(90deg, var(--gradient-accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
