@import '../../../styles/mixins/media';

.liveChatMessages {
  margin-top: 14px;
  width: calc(100% + 30px);
  height: 100%;
  max-height: 664px;
  margin-left: -26px;
  padding-top: 10px;

  overflow-y: auto;
  overflow-x: visible;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @include laptop {
  }

  &Container {
    width: 100%;
    height: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
