.inputButton {
  background-color: var(--color-dark-blue4);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 4px 6px;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--color-purple);
  }

  &:active {
    background-color: var(--color-dark-blue5);
  }
}
