:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-grey: rgba(173, 181, 189, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-red-error: rgba(198, 33, 33, 1);
  --color-green-success: rgba(130, 201, 30, 1);
  --color-dark-blue: rgba(16, 15, 34, 1);
  --color-dark-blue2: rgba(36, 36, 63, 1);
  --color-dark-blue3: rgba(15, 12, 41, 1);
  --color-dark-blue4: rgba(48, 44, 85, 1);
  --color-dark-blue5: rgba(29, 25, 58, 1);
  --color-purple: rgba(127, 118, 205, 1);
  --color-purple2: rgba(124, 124, 232, 0.33);
  --color-violet: rgba(136, 123, 255, 1);
  --color-dark-violet: rgba(66, 62, 105, 1);
  --color-card: rgba(66, 62, 105, 0.5);
  --color-coral-pink: rgba(255, 115, 143, 1);
  --color-light-blue: rgba(81, 162, 255, 1);
  --color-gold: rgba(255, 205, 113, 1);

  --gradient-main-background:
    var(--color-dark-blue3), rgba(49, 44, 95, 1), rgba(36, 36, 62, 1);
  --gradient-header-background:
    var(--color-dark-blue3), rgba(49, 44, 95, 1), rgba(36, 36, 62, 1);
  --gradient-green: rgba(185, 255, 88, 1), rgba(105, 180, 0, 1);
  --gradient-blue: rgba(58, 136, 255, 1), rgba(0, 75, 188, 1);
  --gradient-coral: rgba(255, 0, 71, 1), rgba(255, 65, 123, 1);
  --primary-button-disabled: rgba(255, 104, 146, 1), rgba(255, 155, 185, 1);
  --primary-button-hover: rgba(255, 90, 140, 1);
  --primary-button-pressed: rgba(186, 0, 52, 1), rgba(255, 24, 95, 1);

  --gradient-accent: var(--color-gold), rgba(229, 150, 3, 1);
  --secondary-button-disabled: rgba(255, 222, 161, 1), rgba(252, 200, 105, 1);
  --secondary-button-hover: rgba(253, 192, 78, 1);
  --secondary-button-pressed: rgba(241, 178, 62, 1), rgba(170, 110, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  background: linear-gradient(to bottom, var(--gradient-main-background));
  color: var(--color-white);
  font-family: var(--font-inter), sans-serif;
  scrollbar-width: thin;
  padding-bottom: 56px;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.error {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: var(--color-red-error);
  line-height: 1.4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #111827 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
