@import '../../styles/mixins/media';

.gameList {
  width: 50%;
  height: auto;

  @include laptop {
    width: 70%;
  }
  @include tablet {
    width: 100%;
  }

  &Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
