@use '../../styles/mixins/media' as media;

.gameList {
  width: 50%;
  height: auto;

  @include media.laptop {
    width: 70%;
  }

  @include media.tablet {
    width: 100%;
    order: -1;
  }

  &Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include media.tablet {
      gap: 16px;
    }

    @include media.mobile {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
