@import '../../../../styles//mixins/mixins';

.secondaryButton {
  height: 48px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to bottom, var(--gradient-accent));
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;

  &:hover {
    @include shadow-blur(var(--secondary-button-hover), 18px);
  }

  &:active {
    background: linear-gradient(to bottom, var(--secondary-button-pressed));
  }

  &:disabled {
    background: linear-gradient(to bottom, var(--secondary-button-disabled));
    cursor: not-allowed;
  }

  &Icon {
    cursor: pointer;
  }
}
