@use '../../../../styles/mixins/mixins' as mixins;

.secondaryButton {
  height: 46px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to bottom, var(--gradient-accent));
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  position: relative;

  &:hover {
    @include mixins.shadow-blur(var(--secondary-button-hover), 18px);
  }

  &:active {
    background: linear-gradient(to bottom, var(--secondary-button-pressed));
  }

  &:disabled {
    background: linear-gradient(to bottom, var(--secondary-button-disabled));
    cursor: not-allowed;
  }
}

.dispFlex {
  display: flex;
  align-items: center;
}

.dispPosition {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
