@import '../../../styles/mixins/fonts';

.headerMain {
  display: flex;
  align-items: center;
  gap: 54px;

  @include tablet {
    width: 100%;
    gap: 0;
  }

  &UserContainer {
    display: flex;
    align-items: center;
    gap: 16px;

    @include tablet {
      width: 100%;
      justify-content: space-between;
      gap: 0;
    }
  }

  &Balance {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-grey);
    min-width: 135px;
    height: 52px;
    border-radius: 100px;
    gap: 8px;
    @include h2-inter(16px);
  }

  &Actions {
    display: flex;
    align-items: center;
    gap: 16px;

    @include tablet {
      display: none;
    }
  }
}
