@import '../../../styles/mixins/fonts';

.headerMain {
  display: flex;
  align-items: center;
  gap: 54px;

  @include tablet {
    width: 100%;
    gap: 0;
  }

  &UserContainer {
    display: flex;
    align-items: center;
    gap: 16px;

    @include tablet {
      width: 100%;
      justify-content: space-between;
      gap: 0;
    }
  }

  &Avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid var(--color-gold);
    box-shadow:
      0 0 8px rgba(255, 205, 113, 0.6),
      0 0 16px rgba(255, 205, 113, 0.4),
      0 0 24px rgba(255, 205, 113, 0.2);
  }

  &Balance {
    display: flex;
    align-items: center;
    padding-left: 24px;
    border: 1px solid var(--color-grey);
    min-width: 135px;
    height: 52px;
    border-radius: 100px;
    gap: 8px;
    @include h2-inter(16px);
  }

  &Actions {
    display: flex;
    align-items: center;
    gap: 16px;

    @include tablet {
      display: none;
    }
  }
}
