@import '../../../styles/mixins/fonts';
@import '../../../styles/mixins/mixins';

.headerLogo {
  display: flex;
  align-items: center;
  gap: 8px;
  @include h1-satoshi(24px);

  @include tablet {
    display: none;
  }

  &Icon {
    @include drop-shadow-blur(rgba(255, 63, 122, 0.6), 12px);
  }
}
