@use '../../../styles/mixins/fonts' as fonts;

.toast {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-red-error);
  top: 20px;
  right: 0;
  border-radius: 15px;
  z-index: 10;
  min-width: 150px;
  padding: 25px;

  &Message {
    @include fonts.secondary-text;
  }
}
