@use '../../../styles/mixins/fonts' as fonts;
@use '../../../styles/mixins/mixins' as mixins;

.chatMessage {
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 24px 16px 16px;
  background-color: var(--color-dark-blue2);
  box-shadow: 0 2 10px rgba(191, 216, 255, 0.2);
  min-height: 130px;
  position: relative;
  overflow: visible;
  margin-bottom: 16px;

  &Avatar {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: -17px;
    left: -10px;
    border: 2px solid var(--color-gold);
    box-shadow:
      0 0 8px rgba(255, 205, 113, 0.6),
      0 0 16px rgba(255, 205, 113, 0.4),
      0 0 24px rgba(255, 205, 113, 0.2);
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-grey);
    padding-bottom: 8px;
    gap: 8px;

    &Label {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, var(--gradient-blue));
      width: 37px;
      height: 26px;
      border-radius: 100px;
      @include fonts.secondary-text;
    }

    &Name {
      @include fonts.h2-inter(16px);
    }

    &Info {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &Time {
      @include fonts.secondary-text;
      color: var(--color-grey);
    }
  }

  &Body {
    @include fonts.main-text;
    padding-top: 8px;
    color: var(--color-grey);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
