@use '../../styles/mixins/mixins' as mixins;
@use '../../styles/mixins/media' as media;

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, var(--gradient-header-background));
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixins.inline-padding;
  z-index: 5;

  @include media.tablet {
    background: none;
  }
}
