@import '../../../styles/mixins/fonts';

.leaderboardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-blue2);
  width: 100%;
  height: 73px;
  border-radius: 8px;
  padding: 0 16px;
  gap: 16px;
  box-shadow: 0 2px 10px rgba(191, 216, 255, 0.2);

  &Rank {
    width: 32px;
    height: 32px;
    @include h2-inter(24px);
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  &Stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Stat {
    display: flex;
    align-items: center;
    gap: 2px;
    @include h2-inter(16px);

    &Username {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &You {
      @include small-text;
      color: var(--color-grey);
      margin: 0;
    }

    &Games {
      @include small-text;
      color: var(--color-grey);
    }

    &Wins {
      @include small-text;
      color: var(--color-green-success);
    }
  }
}
