@use '../../../styles/mixins/fonts' as fonts;

.leaderboardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-blue2);
  width: 100%;
  height: 73px;
  border-radius: 8px;
  padding: 0 16px;
  gap: 16px;
  box-shadow: 0 2px 10px rgba(191, 216, 255, 0.2);

  &Rank {
    width: 32px;
    height: 32px;
    @include fonts.h2-inter(24px);
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  &Stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Stat {
    display: flex;
    align-items: center;
    gap: 2px;
    @include fonts.h2-inter(16px);

    &Username {
      display: flex;
      flex-direction: column;
      gap: 0;
      max-width: 120px;

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &You {
      @include fonts.small-text;
      color: var(--color-grey);
      margin: 0;
    }

    &Games {
      @include fonts.small-text;
      color: var(--color-grey);
    }

    &Wins {
      @include fonts.small-text;
      color: var(--color-green-success);
    }
  }
}

.active {
  border: 2px solid transparent;
  border-radius: 8px;
  background:
    linear-gradient(var(--color-dark-blue2), var(--color-dark-blue2))
      padding-box,
    linear-gradient(to right, var(--gradient-accent)) border-box;
}
