@import '../../../styles/mixins/fonts';

.authInput {
  border: none;
  outline: none;
  width: 90%;
  height: 100%;
  border-radius: 8px;
  padding-left: 10px;
  @include secondary-text;

  &Container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background-color: var(--color-white);
  }

  &Icon {
    margin-right: 10px;
  }
}

.error {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: var(--color-red-error);
  line-height: 1.4;
}
