@use '../../styles/mixins/fonts' as fonts;
@use '../../styles/mixins/mixins' as mixins;
@use '../../styles/mixins/media' as media;

.burgerButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 6;

  @include media.tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 8;
  animation: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue3);
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  padding: 16px;
  gap: 68px;
  animation: slideIn 0.3s ease-in-out;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.25);

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  &LogoutContainer {
    margin-top: auto;
  }

  &Header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Logo {
    display: flex;
    align-items: center;
    gap: 8px;
    @include fonts.h1-satoshi(24px);

    svg {
      @include mixins.drop-shadow-blur(rgba(255, 63, 122, 0.6), 12px);
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }

  &Item {
    display: flex;
    align-items: center;
    background: var(--color-card);
    padding: 11px 16px;
    gap: 8px;
    border-radius: 8px;
    transition: background 0.2s ease;
    cursor: pointer;
    @include fonts.main-text;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.closeIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
