@use '../../styles/mixins/mixins' as mixins;
@use '../../styles/mixins/media' as media;

.dashboard {
  padding: 40px 0;
  width: 100%;
  height: 100%;
  overflow: visible;

  @include media.tablet {
    padding: 24px 0;
  }

  &Container {
    @include mixins.inline-padding;
    display: flex;
    gap: 93px;
    overflow: visible;

    @include media.desktop {
      gap: 50px;
    }

    @include media.laptop {
      gap: 20px;
    }

    @include media.tablet {
      flex-direction: column;
      gap: 40px;
    }
  }
}
