@import '../../styles/mixins/mixins';
@import '../../styles/mixins/media';

.dashboard {
  padding: 40px 0;
  width: 100%;
  height: 100%;
  overflow: visible;

  @include tablet {
    padding: 24px 0;
  }

  &Container {
    @include inline-padding;
    display: flex;
    gap: 93px;
    overflow: visible;

    @include desktop {
      gap: 50px;
    }

    @include laptop {
      gap: 20px;
    }

    @include tablet {
      flex-direction: column;
      gap: 40px;
    }
  }
}
