@use '../../../styles/mixins/fonts' as fonts;
@use '../../../styles/mixins/media' as media;

.messageBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  gap: 16px;

  @include media.laptop {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    width: calc(100% - 32px);
    margin-top: 0;
    border-radius: 24px;
    z-index: 10;
    margin-bottom: 16px;
  }

  @include media.laptop {
    flex: 1;
    width: auto;
    position: relative;
    backdrop-filter: blur(4px);
  }

  &Button {
    background-color: var(--color-purple2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    transition: all 0.5s ease;

    &:hover {
      background-color: var(--color-violet);
    }

    @include media.laptop {
      backdrop-filter: blur(4px);
    }
  }
}
