@import '../../../styles/mixins/fonts';

.messageInput {
  background-color: var(--color-purple2);
  color: var(--color-white);
  border: none;
  height: 40px;
  border-radius: 100px;
  padding-left: 16px;
  flex: 1;

  &::placeholder {
    @include secondary-text;
    color: var(--color-white);
  }

  &:focus {
    outline: 1px solid var(--color-violet);
  }
}
