@mixin desktop-large {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-large {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: 320px) {
    @content;
  }
}
