@import '../../styles/mixins/mixins';
@import '../../styles/mixins/fonts';
@import '../../styles/mixins/media';

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  background-color: var(--color-dark-blue);

  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    gap: 30px;

    @include mobile-large {
      padding: 32px;
    }

    @include mobile {
      padding: 24px;
    }
  }

  &Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &Logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      border-radius: 12px;
      background: linear-gradient(to top, var(--gradient-coral));
      @include shadow-blur(var(--color-coral-pink), 16px, 2px);
      @include mobile-large {
        width: 48px;
        height: 48px;
      }

      &Icon {
        @include mobile-large {
          width: 24px;
          height: 24px;
        }
      }
    }

    &Text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    &Title {
      @include h1-satoshi;
      color: var(--color-white);
    }

    &Subtitle {
      @include h2-inter(24px);
      color: var(--color-grey);
    }
  }

  &Form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 10px;

    &InputContainer {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &InputTitle {
      @include secondary-text;
      color: var(--color-grey);
    }

    &Button {
      margin-top: 32px;
    }
  }

  &Bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;

    &Link {
      @include secondary-text;
      text-decoration: none;
      color: var(--color-light-blue);

      &:hover {
        text-decoration: underline;
      }
    }

    &Divider {
      width: 100%;
      height: 1px;
      background-color: var(--color-grey);
    }

    &Text {
      @include small-text;
      color: var(--color-grey);
    }
  }
}
